jellyfin.{$MEDIA_DOMAIN} {
	reverse_proxy jellyfin:8096
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

jellyseerr.{$MEDIA_DOMAIN} {
	reverse_proxy jellyseerr:5055
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}
